* {
  box-sizing: border-box;
  position: relative;
}

body  {
  background-color: #127B13;
}

.page-heading {
  margin-top: 160px;
}

.page-heading h2  {
  color: white;
  font-family: arial;
  margin-bottom: 15px;
}

h2:before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
}

.section {
  background-color: #F7F81D;
  padding: 15px;
  margin-bottom: 30px;
}

.section-header h3{
  color: #5D350C;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/*  HEADER  */
#header-nav {
  background-color: #10AB2A;  /*  127B13 - DARK GREEN --- F7F81D YELLOW  --- 10AB2A green*/
  border-radius: 0;
  border: 0;
}

.navbar-brand h1  {
  color: #E08932;   /*  ORANGE  */
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover , .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  visibility: hidden;
}

#nav-list a {
  background: #FEAE5E;   /*  LIGHT ORANGE  */
  color: #5D350C;        /*  BROWN  */
  border-bottom: 1px solid brown;
}

#nav-list a:hover {
  background: #E58524;  /*  DARK ORANGE  */
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 32%;
  }

  .section {
    margin-right: 1%;
  }
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .col-sm-6 {
    width: 49%;
  }

  .col-sm-12 {
    width: 99%;
  }

  .section {
    margin-right: 1%;
  }
}

@media (max-width:  767.99px) {
  #nav-list {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    visibility: visible;
  }

  .section  {
    margin-right: 0;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
